// black
$black-50: #333;
$black-100: #282828;
$black-200: #242424;
$black-300: #000;
$black-400: #00062b;
$black-500: #171717;


// red
$red-50: #d81e05;
$red-100: #D21D05;
$red-200: #c22821;
$red-300: #ee1b25;


// grey
$gray-50: #d9d9d9;
$gray-100:#c0c0c0;
$gray-200: #818181;
$gray-300:#ebebeb;


// white
$white-50: #f7f7f7;
$white-100: #fff;
$white-200:#ebebeb;

// blue 

$blue-50: #dee4ec;
$blue-100: #0e69af;

$gradient-50:linear-gradient(180deg, #d81e05 0%, #490900 100%);
$gradient-100: linear-gradient(90deg, #c91c04 0%, #d81e05 33.33%, #4b0900 66.67%, #4b0900 100%);

$shadow: 0 40px 127px 0 rgba(0, 0, 0, 0.08), 0 15px 40px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.03);